01 - Crie um programa que entre com o valor zero e conte at√© cinco:

In [5]:
x = 0 
while (x<=5):
    print(x)
    x += 1

0
1
2
3
4
5

02 - Crie um programa que guarde cinco nomes e demonstre o numero armazenado:

In [6]:
nome = ['Gustavo','Aline','Murilo','Carlos','Roseli']

x = 0 
while(x<5):
    print(x," - ",nome[x])
    x += 1

0  -  Gustavo
1  -  Aline
2  -  Murilo
3  -  Carlos
4  -  Roseli

03 - Crie um programa que guarde cinco nomes e cinco idades e demonstre o numero armazenado:

In [7]:
nome = ['Gustavo', 'Murilo', 'Roberta','Maria','Flavio']
idade = [28,29,45,75,55]

x= 0 
while(x<5):
    print(x, " - ",nome[x],idade[x],"anos")
    x += 1

0  -  Gustavo 28 anos
1  -  Murilo 29 anos
2  -  Roberta 45 anos
3  -  Maria 75 anos
4  -  Flavio 55 anos